<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-commerce</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <section>
            <article class="container2">
                <div class="sell1">
                    <div class="icons">
                        <a href="/index.html"><img src="/storage/img/volver.svg" alt="" class="vuelta"></a>
                        <img src="/storage/img/likewhit.svg" alt="">
                    </div>
                    <img src="/storage/img/prenda1.svg" alt="" class="sellprenda">
                </div>
                <div class="text2">
                    <h1 class="titulo">Modern light clothes</h1>
                    <div class="agregar">
                        <div class="menos">
                            <img src="/storage/img/menos.svg" alt="">
                            <h1>1</h1>
                            <img src="/storage/img/mas.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="parrafo">
                    <div class="calificaciones">
                        <img src="/storage/img/estrellitas.svg" alt="">
                        <small>5.0</small>
                        <a href="#">(7.932 reviews)</a>
                    </div>
                    <div class="pharagrap">
                        <small>Its simple and elegant shape makes it perfect for
                            those of you who like you who want minimalist
                            clothes <strong>Read More. . .</strong></small>
                    </div>
                </div>
            </article>
        </section>
        <footer>
            <div class="menu3">
                <img src="/storage/img/car.svg" alt="">
               <strong class="add"> Add to Cart | $100.99 <small>$190.99</small></strong>
            </div>
        </footer>
    </main>
</body>
</html>